__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.idea/
.vscode/
.DS_Store
demos/output_covariance_mtx/
demos/notebook_outputs
demos/output_covariance_wl
Notebook_for_Dario.ipynb
Dario_requirements.txt
tests/format_comp/inputs/
tests/format_comp/generated_outputs/
